@keyframes p{
    0%{
        opacity: 0;
        transform: translateZ(200px);
    }
    100%{
        opacity: 1;
        transform: translateZ(0px);
    }
}
@keyframes con{
    0%{
        opacity: 0;
       transform: translateY(100px);
    }
    100%{
        opacity:1;
        transform: translateY(0px);
    }
}
@keyframes star{
    0%{
        opacity: 0;
    }
    50%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}
@keyframes qq{
    0%{
      position: -112px;
    }
    100%{
        left: 100px;
        transform:rotateZ(360deg);
    }
}