<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <div id="app">
            <ul>
                <li :key='i' v-for="(u,i) in user">
                    <h1>
                        <!-- u:获取的内容 -->
                        <!-- i:索引值 -->
                       {{i}}{{u.name}}
                    </h1>
                    <ul>
                        <h2>爱好</h2>
                        <li :key='j' v-for="(o,j) in u.hobby">
                             {{j}}{{o}}
                        </li>
                    </ul>
                </li>
            </ul>
            </div>
</body>
</html>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
    (function(){
        new Vue({
            el:"#app",
            data:{
                user:[
                    {
                        name:"person1",
                        hobby:["hobby1","hobby2"]
                    },
                    {
                        name:"person2",
                        hobby:["hobby2","hobby2"]
                    }
                ]
            }
            
        })
    })()

</script>