body,
ul,
ol,
dl,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
hr,
div,
em,
strong {
	margin: 0;
	padding: 0;
}

body {
	font-family: "微软雅黑";
}

ul,
ol {
	list-style-type: none;
}

a {
	text-decoration: none;
}

img {
	border: none;
}

.clear:after {
	content: "";
	display: block; //因为默认为行内元素
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden; //隐藏元素，保留位置
}
.side{
	position: absolute;
    right: 131px;
    top: 34px;
    color: white;
    font-weight: 500;
    display: block;
    text-align: center;
	cursor: pointer;
}
.title {
	width: 100%;
	height: 100px;
	opacity: 0.8;
	background-color: gainsboro;
	position: absolute;
	top: 0px;
	
}
.title .cate{
width: 132px;
    height: 126px;
    background-color: #CF0F32;
    position: absolute;
    right: 97px;
}
.game{
	width: 1247px;
	height:730px;
	position: absolute;
	background-color: #282B2D;
	left: 80px;
	top: 101px;
	z-index: 4;
	display: none;
	
}
#ga{
float: left;
      float: left;
    margin: 0px 0px 0px 53px;
    padding: 48px;
    box-sizing: border-box;
    border-right: 1px dimgray solid;
	margin-top: 50px;
}

#ga span{
	color: #CF0F32;
	margin-bottom: 20px;
	display: inline-block;
	padding-left: 10px;
	box-sizing: border-box;
}
.game a{
	color: #C3C3C3;
	font-size: 15px;
}
.game a:hover{
	color: #CF0F32;
	text-decoration: underline;
}
.game li{
	list-style-type: none;
	margin: 8px;
}
.bgimg {
	width: 100%;
	height: 829px;
	background: url(../images/01.jpg) center top;
}

.tile_p {
	margin: 0px auto;
	position: absolute;
	top: 0px;
	left: 100px;
}

.tile_p img {
	float: left;
	padding-top: 21px;
}

.tile_p a {
	color: gray;
	float: left;
	display: inline-block;
	height: 100px;
	line-height: 100px;
	margin-left: 50px;
	text-align: center;
}

.tile_p a:hover {
	color: red;
}

.top_p hr {
	width: 536px;
	color: red;
	margin-top: 20px;
}

.top_p p {
	color: white;
	margin-top: 20px;
}

.top_p h2 {
	color: white;
	margin-top: 2px;
	font-size: 40px;
}

.top_p {
	position: absolute;
	top: 300px;
	left: 100px;
}

.con_left_top img {
	width: 35px;
	height: 35px;
	margin: 10px;
	float: left;
}

.con_left_top span {
	font-size: 14px;
	margin-top: 14px;
	display: inline-block;
	color: white;
}

.con_left_top p {
	font-size: 11px;
	color: gray;
}

.con_left_top {
	padding-bottom: 9px;
	height: 50px;
	cursor: pointer;
}
/* .con_left_top:hover {
	background-color: gray;
	border-left: 2px red solid;
} */

.con_left {
	width: 223px;
	float: left;
	
}

.tile_con {
	position: absolute;
	top: 534px;
	left: 100px;
	background-color: #272A2C;
	height: 295px;
}

.con_center {
	float: left;
	width: 464px;
	height: 291px;
	background-image: url(../images/cb.jpg);
}



.con_right {
	float: left;
	padding: 20px;
}

.con_right>span {
	font-size: 25px;
	font-weight: 600;
	color: #CF0F32;
}

.con_right>hr {
	margin-top: 10px;
}

.con_right_p p {
	float: left;
	color: gray;
	cursor: pointer;
}

.con_right_p p:hover {
	color: white;
}

.con_right_p span {
	float: right;
	color: gainsboro;
}

.con_right_p {
	height: 20px;
	margin: 10px 0px;
}

@media all and (min-width:1050px) and (max-width:1200px) {
	.tile_p a{
		font-size: 12px;
	}
}
@media all and (max-width:1050px) {
	.tile_p a{
		display: none;
	}
}
.rbtn,.lbtn{
	    position: absolute;
    width: 43px;
    background-color: #CF0F32;
    height: 86px;
    top: 338px;
    border: none;
    color: white;
    font-size: 18px;
	outline: none;
	cursor: pointer;
}
.rbtn{
	right: 0px;
}
.lbtn{
	left: 0px;
}
.bgimg li{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:white;
    border: 5px  white solid;
}
.bgimg ul{
	position: absolute;
    right: 150px;
    top: 501px;
}
