*{
	margin: 0;
	padding: 0;
}
.clear{
	clear:both;
}
.top_show{
	width: 100%;
    background-color: white;
    position: absolute;
    left: 0px;
    top: 110px;
    border-top: 1px solid gainsboro;
	border-bottom: 1px solid gainsboro;
	display: none;
	height: 230px;
	z-index: 2;
}
hr{
	width: 1200px;
	margin: 0px auto;
}
.top_show_center{
	width: 1200px;
	margin: 0 auto;
}
.top_show_section{
	width: 160px;
	display: inline-block;
	
	padding:20px;
	box-sizing: border-box;
	margin-right: 38px;
}
.top_show_img{
	width: 120px;
	height: 120px;
}
.top_show_center_price{
	color: #CF0B2D;
	font-size: 12px;
	text-align: center;
}
.top_show_center_info{
	margin-top: 20px;
	font-size: 14px;
	text-align: center;
}
#small-box{
	height: 450px;
	width: 450px;
	position: relative;
	background-image: url(../img/goods2.png);
	background-size: 450px 450px;
	background-repeat: no-repeat;
/* 	left:100px;
	top:180px; */
}
#mask{
	height: 225px;
	width: 225px;
	position: absolute;
	background-color: white;
	opacity: 0.3;
	display: none;
	cursor:move;
}
#big-box{
	height: 500px;
	width: 500px;
	position: absolute;
	background-image:url(../img/goods2.png);
	background-size: 1000px 1000px;
	background-repeat: no-repeat;
	left:600px;
	top:180px;
	display: none;
	border: 1px solid gainsboro;
	z-index: 2;
}
.info{
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 80px;
}
.info_left{
	float: left;
}
.info_page{
	width: 330px;
	overflow: hidden;
}

.info_right ul{
	position: relative;
}
.info_page li{
	width: 60px;
	height: 60px;
	border: 1px solid gainsboro;
	list-style-type: none;
	display: inline-block;
	cursor: pointer;
}
.info_page li:hover{
	border: 1px solid #CF0A2C;
}
.info_page{
	margin-top: 20px;
	margin-left: 60px;
	position: relative;
}
.info_page_left,.info_page_right{
	width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: white;
    position: absolute;
    color: gray;
	cursor: pointer;
	outline: none;
}
.info_page_left{
	left: 140px;
    top: 655px;
}
.info_page_right{
	right: 891px;
    top: 655px;

}
.info_page img{
	width: 60px;
	height: 60px;
}
.info_right{
	float: left;
	margin-left:100px;

}
.info_right_title{
	font-weight: 200;
    font-size: 22px;
}
.title_ps{
	font-size: 14px;
	color: #CA141D;
	display: block;
	margin: 10px 0px;
}
.info_right_price{
	background-color: #F5F5F5;
	padding: 10px 0px;
	margin-bottom: 20px;
}
.price_label{
	font-size: 14px;
    margin-right: 15px;
    width: 58px;
    display: inline-block;
    margin: 8px 15px;
}
.price_label2{
	font-size: 14px;
}
.price{
	display: inline-block;
	color: #CA141D;
	font-size:25px;
	margin-bottom: 10px;
}
.price_cate{
	margin-left:5px;
	margin-right: 10px;
	font-size: 13px;
	border: 1px solid #CA141D;
	padding: 1px 3px;
	
}
.price_cate2{
	margin-left:92px;
	margin-right: 10px;
	font-size: 13px;
	border: 1px solid #CA141D;
	padding: 1px 3px;
	display: inline-block;
	margin-top: 10px;
}
.area{
	border: 1px solid gainsboro;
	padding: 1px 8px;
	display: inline-block;
}
.area span{
	font-size: 13px;
}
.actor{
	color:#CA141D ;
	font-size: 13px;
	margin-left: 20px;
}
.number{
	font-size: 12px;
	margin-left: 6px;
}
.phone_color{
	border: 1px solid gray;
    display: inline-block;
    padding: 5px 19px 0px 15px;
	margin-right: 10px;
}
.phone_color span{
	position: relative;
    top: -12px;
    left: 5px;
    font-size: 14px;
}
.phone_color img{
	width: 30px;
	height: 30px;
}
.phone_color2{
	border: 1px solid gray;
	padding: 3px 10px;
}
.phone_color3{
	border: 1px solid gray;
	padding: 3px 10px;
	font-size: 13px;
}
.phone_color2 span{
	font-size: 12px;
	margin-right: 10px;
}
.add,.del,.goods_number{
	width: 30px;
    height: 41px;
    border: 1px solid gainsboro;
    background-color: ghostwhite;
    margin-top: 53px;
	outline: none;
	cursor: pointer;
}
.goods_number{
	width: 50px;
}
.shop_car,.shopping{
	display: inline-block;
    width: 172px;
    color: white;
    text-align: center;
    padding: 13px;
    margin-left: 20px;
    border-radius: 2px;
}
.shop_car{
	background-color: #FC600C;
}
.shopping{
	background-color:#CA151D;
}
.target{
	    width: 300px;
    height: 100px;
    background-color: white;
    position: absolute;
    text-align: center;
    line-height: 100px;
    border-radius: 16px;
    border: 1px solid gainsboro;
    color: brown;
    font-size: 17px;
	display: none;
	z-index:4;
}